a {
  text-decoration: none;
}

h1 {
  font-family: Georgia, Times, 'Times New Roman', serif;
  font-weight: 900;
  font-size: 40px;
}

h2  {
  font-family: 'Encode Sans', sans-serif;
  font-weight: 900;
}

p {
  font-size: 14px;
}

body  {
  font-family: 'Encode Sans', sans-serif;
  text-align: center;
  background-color: whitesmoke;
}

#logo {
  height: 40px;
  margin-right: 20px;
}

#wordmark {
  height: 36px;
}

.navLinks a {
  padding: 20px;
  padding-right: 0px;
  font-weight: 700;
  color: black;
}


.demoImage  {
  justify-content: center;
  width: 100%;
  max-width: 400px;
}

#navigation {
  background-color: whitesmoke;
  padding-left: 50px;
  padding-right: 50px;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, .3);
}

#heroBlock  {
  text-align: left;
  max-width: 100%;
  margin: auto;
  padding-top: 100px;
  padding-bottom: 50px;
  color: black;
  background-color: #a288e3;
  font-weight: 500;
}

#heroLogo {
  width: 300px;
}

.platformType {
  margin: 30px;
  margin-top: 80px;
}


.features {
  margin-top: 10px;
  margin-left: 25px;
  margin-right: 25px;
  padding: 25px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 300px;
  background-color: rgba(187, 213, 237, .4);
  border-style: solid;
  border-width: 5px;
  border-radius: 30px;
  border-color: rgba(255, 255, 255, .3);
}

.appleWatchFrames img {
  max-width: 900px;
  width: 100%;
  height: auto;
}

.iPhoneFrames img {
  max-height: 596px;
  max-width: 400px;
}

.iPhoneFeature {
  margin-bottom: 50px;
  max-width: 400px;
}

.footerItem {
  padding-left: 50px;
  padding-right: 50px;
  color: white;
}

.footerItem a {
  text-decoration: none;
  color: white;
}

#pageFooter {
  margin-top: 50px;
  height: 100px;
  background-color: #0B3051;
}

@media screen and (max-width: 783px) {
  .navLinks {
    display: none;
  }

  .iPhoneFeature {
    max-width: none;
  }
}